{% extends "base.html" %}

<!-- prettier-ignore -->

{% block title %}Liste des emplois{% endblock %}

{% block content %}
<section class="py-16">
  <div class="max-w-6xl mx-auto space-y-6">
    <!-- Header -->
    <div class="text-base-content">
      <h1 class="text-2xl font-bold">Liste des emplois</h1>
      <p class="text-base-content/70 mt-1 text-sm">
        Consultez les offres d’emploi actuellement disponibles.
      </p>
    </div>

    <!-- Job list -->
    <div class="grid gap-5 md:grid-cols-2">
      {% for job in job_list %}

      <!-- prettier-ignore -->

      {% include "includes/job_card.html" %}
      {% empty %}

      <!-- prettier-ignore -->

      {% include "includes/card_empty.html" with info="Aucun emploi disponible" %}
      
      {% endfor %}
    </div>

    <!-- Pagination -->
    {% include "includes/pagination.html" %}
  </div>
</section>
{% endblock %}
